body {
  background-color: rgb(255, 255, 255);
  background-repeat: x y;
  background-size: cover;
}

.box {
  text-align: center;
  margin: auto;
  padding: 10px;
  left: 20%;
  background: rgb(21, 122, 97);
  box-sizing: content-box;

}

h1 {
  background-color: rgb(51, 130, 145);
  text-align: center;
}

h2 {
  background-color: white;
  color: #0a001a;
  text-align: center;
}
 
table {
  background-color: rgb(75, 100, 182);
  width: 100%;
}

tbody td {
  background-color: rgb(77, 101, 179);
}